body
{
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
.heading
{
    height: 80vh;
    background-image: url("../images/ocean.jpg");
    background-position: right 35% bottom 57%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: yellow;
}
.heading_div
{
    margin-top: 1rem;
    display: flex;
    width: 100%;
}

.heading_div1,.heading_div2,.heading_div3
{
    display: flex;
    flex-wrap: nowrap;
}
.heading_div1
{
    width: 40%;
}
.heading_div2
{
    width: 20%;
    flex-direction: row-reverse;
}
.heading_div3
{
    width: 40%;
    align-items: center;
}
.heading_logo
{
    list-style-type: none;
    margin: 1rem;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.heading_links
{
    display: flex;
}
.heading_links a
{
    text-align: center;
    margin: 1rem;
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    height: 25px;
    font-family: "Raleway", sans-serif;
}
.heading_links a:hover,.heading_links a:focus
{
    background-color: yellow;
    color: black;
    box-shadow: 2px 2px black;
    border-radius: 4px;
    padding:2px;
}

.discoverPlaces
{
    display: flex;
    position: relative;
    justify-content: center;
    left: -8vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin: 2px auto;
    width: 85%;
    padding: 20px;
    border-radius: 6px;
}
.discoverPlaces h1
{
    margin: 0rem;
    text-transform: uppercase;
}
.discoverPlaces p
{
    text-transform: uppercase;
}
.discoverPlaces a
{
    padding: 0.3rem;
    background-color: yellow;
    cursor: pointer;
    border-radius: 4px;  
    border: 0;
    text-decoration: none;
}
.discoverPlaces a:hover,.discoverPlaces a:focus
{
    color:rgb(5, 76, 94);
}

main
{
    margin: 0;
    background-color: rgb(1 252 189 / 14%);
}

.mainHeading
{
    margin-top: 0;
    text-align: center;
}
.card
{
    display: flex;
    flex-direction: row;
    height: 20rem;
    margin: 2rem 2rem;
}
.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem;
}
.card1 img , .card2 img , .card3 img
{
    width: 100%;
    height: 180px;
}
.card3 img
{
    padding-right: 0;
}
.card1 p,.card2 p,.card3 p
{
    text-align: center;
}
.card1 p>strong,.card2 p>strong,.card3 p>strong
{
    color: rgb(0, 160, 117);
    text-transform: uppercase;
}
footer
{
    position:inherit;
    left: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}
footer i
{
    padding: 1rem;
}
.breadCrumb
{
    display: none;
}

@media(max-width:600px)
{
    .heading_div2
    {
        display: none;
    }
    .breadCrumb
    {
        display: flex;
        flex-direction: column;
        width: 20%;
        align-items: center;
    }
    .breadCrumb span
    {
        display: flex;
        background-color: white;
        width: 3rem;
        margin-bottom: 0.4rem;
        height: 0.4rem;
    }
}
.backdrop
{
    display: none;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color:rgba(0,0,0,0.5);
}
.backdrop_links
{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
/* .visible
{
	display:flex;
}
.invisible
{
	display:none;
} */
