body
{
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
header
{
    background-image: url("../images/ocean.jpg");
    background-position: right 35% bottom 60%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 400px;
    display: flex;
    color: yellow;
}

.headLine
{
    list-style-type: none;
    display: flex;
    width: 70%;
    margin: 0.5em;
    margin-left: 1em;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
header nav
{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    margin:1rem;
}
nav a
{
    text-align: center;
    margin: 1rem;
    color: yellow;
    text-decoration: none;
    font-size: larger;
    height: 25px;
    font-family: "Raleway", sans-serif;
}
nav a:hover,nav a:focus
{
    background-color: yellow;
    color: black;
    box-shadow: 2px 2px black;
    border-radius: 4px;
    padding:2px;
}


@media(max-width:708px)
{
    .headLine
    {
        font-size: 1.5rem;
        margin:0.70rem;
    }
    nav a
    {
        margin: 0.2rem;
        font-size: small;
    }
    .discoverPlaces
    {
    top: -300px;
    margin: 0.5px auto;
    font-size: 0.8rem;
    }

    .discoverPlaces h1
    {
        font-size: medium;
    }
    .discoverPlaces button
    {
        display:inline;
        padding: 0;
        margin: 0;
        width: 100%;
    }


}

.discoverPlaces
{
    display: block;
    text-align: center;
    position: relative;
    top: -240px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    margin: 2px auto;
    width: 30%;
    padding: 20px;
    border-radius: 6px;
}
.discoverPlaces h1
{
    margin: 0rem;
}
.discoverPlaces button
{
    background-color: yellow;
    cursor: pointer;
    border-radius: 4px;
    height: 2rem;  
    font-weight:500;
    border: 0;
}
.discoverPlaces button:hover,.discoverPlaces button:focus
{
    color:rgb(5, 76, 94);
}

.extra
{
    height: 100px;
    background-color: rgb(1 252 189 / 14%);
    margin-top: -220px
}
main
{
    height: 300px;
    background-color: rgb(1 252 189 / 14%);
}
.mainHeading
{
    margin-top: 0;
    text-align: center;
    font-weight: 500;
}
.card
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem auto;
    justify-content: center;
}
.card1,.card2,.card3
{
    margin:1rem;
}
.card1 img , .card2 img , .card3 img
{
    width: 100%;
    height: 150px;
}
.card1 p,.card2 p,.card3 p
{
    text-align: center;
}
.card1 p>strong,.card2 p>strong,.card3 p>strong
{
    color: rgb(0, 160, 117);
    text-transform: uppercase;
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
}
footer i
{
    padding: 1rem;
}

@media(max-width:565)
{
    .card
    {
        display: block !important;
    }
}